body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
div.container{
    width: 80%;
    margin: auto;
}
div.half-width{
    margin-top: 80px;
    width: 45%;
    float: left;
}
div.half-width img{
    width: 300px;
    
}
section.back-image1{
    background-image: url('image/header-bg.png');
    background-position: center;
    background-size: cover;
    height: 500px;
}
section.back-image2{
    background-image: url('image/biography-bg.png');
    background-position: center;
    background-size: cover;
    height: 500px;
}
h1.middle-text{
    text-align: center;
    font-size: 40px;
    color: coral;
}
div.row{
    width: 30%;
    float: left;
}
div.row img{
    margin-top: 30px;
    width: 400px;
}
div.center{
    text-align: center;
}
section.back-image2{
    background-image: url('image/biography-bg.png');
    background-position: center;
    background-size: cover;
    height: 500px;
}
div.back-color{
    margin-top: 40px;
    background-color: deepskyblue;
    padding: 20px;
    border-radius: 10px;
    color: white;
}
div.introduce{

    padding: 20px;
}
.rakib{
    padding: 50px;
}